/* Created by: Carolyn
* Created on: Feb 2022
* This CSS file defines the style for index.html
* ICS2O-Unit1-04-HTML-CSS
*/

body {
	background-color: #a582c4;
}

h1 {
	background-color: #58d5c7;
	color: #f5f7ff;
	padding: 30px;
	text-align: center;
}

h2 {
	background-color: #58d5c7;
	color: #f5f7ff;
	padding: 30px;
	text-align: center;
}

p {
	background-color: #58d5c7;
	color: #f5f7ff;
}

.center {
	 display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
}