/* Created by: Carolyn
* Created on: Feb 2022
* This CSS file defines the style for index.html
* ICS2O-Unit1-04-HTML-CSS
*/

body {
	background-color: rgb(255, 142, 119);
}

h1 {
	background-color: rgb(215, 80, 34);
	color: #9e0037;
	padding: 30px;
	text-align: center;
}

h2 {
	background-color: rgb(215, 80, 34);
	color: #9e0037;
	padding: 30px;
	text-align: center;
}

p {
	background-color: #de643b;
	color: #9e0037;
}

.center {
	 display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}