/* Created by: Carolyn
* Created on: Feb 2022
* This CSS file defines the style for index.html
* ICS2O-Unit1-04-HTML-CSS
*/

body {
	background-color: #d45840;
}

h1 {
	background-color: #fd6f3f;
	color: #ffdbdb;
	padding: 30px;
	text-align: center;
}

h2 {
	background-color: #fd6f3f;
	color: #ffdbdb;
	padding: 30px;
	text-align: center;
}

p {
	background-color: #fd6f3f;
	color: #ffdbdb;
	text-align: center;
}

.center {
	 display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}